header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 13cm;
    padding: 10px 20px;
  }
  
  #clglogo img, #unilogo img {
    height: 450px;
    padding: 100px;
  }
  
  #clgname {
    text-align: center;
  }
  
  #clgname h1{
    margin: 0;
    font-size: 125px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  @media only screen and (max-width: 768px) {
    #clgname h1 {
      font-size: 40px; 
    }
    header {
      height: 7cm;
      padding: 1px 1px;
    }
  
    #clglogo img, #unilogo img{
      margin-bottom: 2px; 
      height: 200px;
      padding: 50px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    #clgname h1 {
      font-size: 15px; 
    }
    header {
      height: 3cm;
      padding: 1px 1px;
    }
  
    #clglogo img, #unilogo img{
      margin-bottom: 2px; 
      height: 80px;
      padding: 10px;
    }
  }